section.main {
    max-width: 768px;
    margin: auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}
form {

    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
form .inputs {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120%;
    flex-direction: column;
    gap: 10px;
}
h1 {
    padding: 15px;
    background: #89898952;
    width: 90%;
    font-size: 20px;
    text-align: center;
}
input {
    height: 100%;
}
textarea {
    max-width: 100%;
    min-height: 240px;
    height: 300px;
    max-height: 100%;
}




* {
box-sizing: border-box;
}

body {
font: 16px Arial;
}

/* контейнер должен быть расположен относительно друг друга: */
.form-content {
position: relative;
display: inline-block;
}

input, textarea, select {
border: 1px solid transparent;
background-color: #f1f1f1;
padding: 10px;
font-size: 16px;
}

input[type=text] {
background-color: #f1f1f1;
width: 100%;
}

input[type=submit] {
background-color: DodgerBlue;
color: #fff;
cursor: pointer;
}

.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
/* расположите элементы автозаполнения на той же ширине, что и контейнер: */
top: 100%;
left: 0;
right: 0;
}

.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #d4d4d4;
}

/* при наведении курсора на элемент: */
.autocomplete-items div:hover {
background-color: #e9e9e9;
}

/* при навигации по элементам используйте клавиши со стрелками: */
.autocomplete-active {
background-color: DodgerBlue !important;
color: #ffffff;
}
