* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-main: rgb(252, 252, 252);
    --bg-accent: rgb(190, 190, 190);
    --border-sep: 1px rgba(0, 0, 0, 0.253) solid;
    --border-sep: 1px rgb(207, 207, 207) solid;
    --border-header-sep: 1px rgb(144, 144, 144) solid;
}

html {
    /* position:absolute;
    overflow-y:scroll;
    overflow-x:hidden; */
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;

}


/* Хедер, футер */
.header {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    position: sticky;
    top: 0;
    z-index: 999;
    /* display: grid;
    grid-template-columns: minmax(40px, 1fr) 3fr 1fr;
    gap: 20px;
    grid-template-areas: "a b c"; */
    /* width: 100%; */
    /* margin: auto; */
    padding: 9px 0 7px 0;
    min-height: 40px;
    background-color: var(--bg-main);
    /* border-bottom: var(--border-header-sep); */
    box-shadow: 0 0 3px 1px rgb(206, 206, 206);
}
.header .nav_left {
    /* margin: auto; */
    margin: 0 0 0 13px;
    position: relative;
    min-height: 100%;
    grid-area: a;
    align-self: center;
    min-width: calc(100vw / 18);
    min-height: calc(100vw / 18);
}
.header .nav_right {
    margin-left: auto;
    margin: 0 13px 0 0;
    position: relative;
    grid-area: c;
    align-self: center;
    min-width: calc(100vw / 18);
    min-height: calc(100vw / 18);
}
.header i {
    cursor: pointer;
    position: absolute;
    /* margin: auto; */

    left: 0;
    /* top: 50%;
    transform: translateY(-50%); */
    width: 100%;
    height: 100%;
    text-align: center;

}
.header .nav_left .fi-rr-arrow-small-left {
    /* scale: .74; */
    /* padding: 0 25px; */
}
.header_title {
    /* font-size: .88rem; */
    font-size: calc(100vw / 27);
    line-height: 1rem;
    line-height: calc(100vw / 31);
    font-weight: 500;
    text-align: center;
    margin: auto;
    letter-spacing: -.44px;
    cursor: pointer;
    word-break: keep-all;
    grid-area: b;
    align-self: center;
}
.nav_footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: fit-content;
    margin: auto;
    background-color: var(--bg-main);
    border-top: var(--border-sep);
    z-index: 999;
}
.nav_main .menu_item_s {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* flex-direction: column; */
}
.menu_s {
    background-color: aqua;
}

/* Мэйн блок */
.container {
    position: relative;
    width: 100%;
    height: max(100%, 100vh);
    margin: auto;
    background-color: var(--bg-accent);
    /* Чтобы прибить футер к низу */

}

.content {
    width: 100%;
    margin: auto;
}

.hide_sides {
    position: relative;
    width: 100%;
    background-color: var(--bg-main);
    z-index: 999;
}
