.calendFilters {
    margin: auto;
    /* display: grid;
    grid-template-rows: 1fr .7fr; */
    /* text-align: center; */
    background-color: #f6f6f6;
    /* padding: 0 0 0 calc(100vw / 20); */
}
.calendFilter {
    /* padding: 0.8rem; */
    padding: calc(127vw / 29) 0 calc(127vw / 29) calc(100vw / 20);
    text-align: left;
    font-size: calc(100vw / 32);
    font-size: calc(100vw / 26);
    font-weight: 600;
    cursor: pointer;
    /* display: grid;
    grid-template-columns: 1fr 50fr; */
    /* border-bottom: 18px #ffffff solid;
    border-top: 27px #fff solid; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-right: auto;


}
.calendFilter#calendar_workername,
.calendFilter#calendar_object {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: end; */
    /* animation: moving .4s ease; */
}
.calendFilter .workername,
.calendFilter .obj {
    display: block;
    font-weight: 400;
    font-size: calc(100vw / 26);
    line-height: calc(100vw / 13);

}

.calendarFilterSection {
    /* display: flex; */
    /* flex-direction: column; */
    box-shadow: inset 0 2px 2px 0px rgb(206, 206, 206);
}
.ui-datepicker-calendar tbody:before {
    line-height: .8rem;
    content:".";
    color:white;
    display:block;

  }
.calendar_menu_arr {
    min-width: 21px;
    /* min-width: calc(100vw / 28); */
    /* min-height: calc(100vw / 28); */
}
#calendar_workername {
    font-size: calc(100vw / 24);
    background-color: #fafafa;
    width: 100%;
    padding: calc(132vw / 29) 0 calc(54vw / 29) calc(100vw / 20);
    /* padding: 0 0 0 calc(100vw / 20); */
}
#calendar_object {
    font-size: calc(100vw / 24);
    background-color: #fafafa;
    width: 100%;
    padding: 0 0 calc(140vw / 29) calc(100vw / 20);
    /* padding: 0 0 0 calc(100vw / 20); */
}
.workerselectObject {
    padding: calc(100vw / 29) 0 calc(100vw / 29) calc(100vw / 20);
    font-weight: 700;
    /* animation: moving .4s ease; */
}
.workerselectObject .obj {
    font-weight: 400;
}
#workerselect_object {
    font-size: calc(100vw / 32);
    background-color: #fafafa;
    width: 100%;

}
