
.tasks {

    padding: 0px 0px 0px 0px;
    margin: 0 0 25px 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.1);
    /* margin: 0 auto; */
    /* https://box-shadow.dev/ */
}
.tasks_header {
    padding: 10px 0px 7px 10px;
    border-bottom: 1px rgba(0, 0, 0, 0.26) solid;
    background-color: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
}
.tasks_header_left {
    display: flex;
    align-items: center;
}
.tasks_header_right{
    display: flex;
    margin-right: 12px;
}
.tasks_header i {
    width: 18px;
    margin: 4px 10px 0 0;
}
.tasks_list {
    display: flex;
    flex-direction: column;
    padding: 0px 0 0px 0px;
    margin: 0 auto;

}
.tab__content:not(#tab__chosen_workers) .task_item {
    animation: moving .46s ease;
}
.task_item {


    /* background-color: rgb(252, 252, 252); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
    border-bottom: 1px rgba(0, 0, 0, 0.18) solid;
    cursor: pointer;
    /* box-shadow: 0px 2px 12px -4px rgb(226 226 226); */
    /* box-shadow: 0px 2px 12px -4px rgb(233 233 233); */
    /* box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.06); */

    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33), ; */

}
/* .task_item:first-child {
    padding: 12px 0 0 0;
} */
.task_item:hover {
    background-color: rgb(236, 236, 236);
}
.task_item:last-child {
    /* border-radius: 0 0 5px, 5px; */
}
.task_item_text {
    /* padding: 12px 0px 8px 13px; */
    /* padding: 6px 0px 2px 13px; */
    padding: 14px 0px 6px 13px;
    /* padding: 7px 0px 5px 13px; */
    /* padding: 15px 0px 16px 13px; */
    /* padding: 19px 0px 8px 13px; */
    /* padding: 11px 0px 14px 13px; */
    height: fit-content;
    max-width: 86%;
}
.task_item_header {
    font-size: .9rem;
    word-wrap:break-all;
    -webkit-line-clamp: 1; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    margin: 0 0 3px 0;
    margin: 0 0 9px 0;
    margin: 0 0 2px 0;
    color: #474646;
    letter-spacing: -.44px;
    /* Через span можно тогда выделить первую букву, при генерации списков */
    /* display: block; */
}
/* .task_item_header:first-letter {
    color: rgb(101, 101, 101);
    font-size: 110%;
} */
.task_item_header.selected {
    color: #53ad96;
    color: #8497ab;
    color: #164f267d;
    color: #40937e;
    color: #ff611e9e;
    /* color: #4e9cee; */
}
.task_item_info {
    font-size: .78rem;
    color: #575757;
    /* color: #469480; */
    /* color: #46abd5; */
    /* color: #5441a6; */
    /* color: #ff611e9e; */
    /* color: #53ad96; */
    /* letter-spacing: -.14px; */
    letter-spacing: .03px;
}
.task_item_info span {
    color:rgb(109, 109, 109);
    font-weight: 600;
}
.task_item i {
    width: 26px;
    margin: 0 10px 0 0;
    flex-shrink: 0;
}
.msg_task {
    word-wrap: break-all;
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    height: fit-content;
    max-width: 90%;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.15px;
    line-height: 18px;
}


.menu {
    padding: 0px 0 0px 0;
    margin: 0 0 20px 0;
    margin: 0 0 11px 0;
    display: grid;

   --grid-layout-gap: 8px;
   --grid-layout-gap-row: 8px;
   --grid-layout-gap-col: 8px;
   --grid-column-count: 1;
   --grid-item--min-width: 108px;

   /**
    * Calculated values.
    */
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap-col));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    /* grid-gap: var(--grid-layout-gap); */
    column-gap: var(--grid-layout-gap-col);
    row-gap: var(--grid-layout-gap-row);
}

.menu_item {
    /* display: flex; */
    display: inline-grid;
    /* min-width: 230px;
    max-width: 230px; */
    height: 108px;
    background-color: rgb(243, 243, 243);
    border-radius: 18px;
    padding: 27px 0 0 27px;

    cursor: pointer;
    box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.2);
}
.menu_item_thin {
    height: 55px;
    padding: 0px 0 0 24px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_item_thin p {
    margin-right: 25px;
}
.menu_item_name {
    margin: -20px 0 0 0;
    line-height: .9;

}

.menu_l {
    --grid-layout-gap: 15px;
    --grid-layout-gap-row: 18px;
    --grid-layout-gap-col: 12px;
    --grid-column-count: 2;
    --grid-item--min-width: 30px;
    padding: 0 23px;


}
.menu_item_l {
    height: 174px;
}
.menu_wrapper {
    padding: 16px;
}
.menu_s {
    --grid-layout-gap: 24px;
    --grid-column-count: 4;
    --grid-item--min-width: 30px;
    justify-content: center;
    align-content: center;
    padding: 9px 0px 0px;
    padding: 9px 0px 6px;
    background-color: rgb(250, 250, 250);
}
.menu_item_s {
    height: 48px;
    cursor: pointer;
    /* height: 34px; */
    line-height: .6rem;
    text-align: center;
}
.menu_item_s:hover > p {
    color: #474747;
}
.menu_item_s i {
    width: 24px;
    margin: 0 auto;
    fill: #474747;
}
.menu_item_s > .menu_selected {
    color: #474747;

}
.menu_item_s > div {
    margin: 2px 0 0 0;
    font-size: .7rem;
    color: rgb(172 172 172);
    letter-spacing: -.94px;
}
.menu_item_s p {
    margin: auto;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    letter-spacing: -0.3px;
    color: #9b9b9b;
}
.menu_item_s.checked p {
    color: #474747;
}
.slider {
    /* https://codepen.io/thebabydino/pen/PRWqMg/ */
	--n: 1;
    position: relative;
	display: flex;
	align-items: center;
	overflow-y: hidden;
	width: 100%;
	width: calc(var(--n)*100%);
	height: 50vw; max-height: 100vh;
	transform: translate(calc(var(--i, 0)/var(--n)*-100%));

    font-family: sans-serif;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
}
.slide_container {
    width: fit-content;
    width: 100%;
    height: 100%;
    margin: 0 12px;
    z-index: -50;
    /* width: calc(100%/var(--n)); */
    /* user-select: none; */
    /* pointer-events: none */
}
